<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sun.mvpdemo.baselibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>
        <!-- 相册 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider> <!-- 全面屏的适配 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" /> <!-- Glide配置文件 -->
        <meta-data
            android:name="com.sun.mvpdemo.baselibrary.utils.glide.GlideConfiguration"
            android:value="GlideModule" />
    </application>

</manifest>